.catalog-list {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 80px;
  justify-content: center;
}

.catalog-list {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 1.23rem;
  color: var(--gray);
}

.catalog-item {
  position: relative;
}

.catalog-item__card {
  position: relative;
  margin-bottom: 15px;
  background-color: var(--blue);
  clip-path: polygon(14% 0, 100% 0, 100% 100%, 0 100%, 0 9%);
  border-radius: 10px;
  overflow: hidden;
}

.catalog-item__card:hover {
  background-color: var(--pink);
  transition: background-color .2s;
  cursor: pointer;
}

.catalog-item__card::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 4px;
  bottom: 4px;
  right: 4px;
  background-color: var(--white);
  clip-path: polygon(14% 0, 100% 0, 100% 100%, 0 100%, 0 9%);
  border-radius: 6px;
  z-index: -1;
}

.catalog-item__block {
  display: grid;
  grid-template-rows: 45% 55%;
  min-height: 480px;
  padding: 4px;
}

.catalog-item__top {
  padding: 20px 45px;
}

.catalog-item__title {
  margin-bottom: 15px;
  font-size: 3.69rem;
  font-weight: bold;
  color: var(--black);
  line-height: 2.5rem;
}

.catalog-item__title--small {
  font-size: 1.846rem;
}

.catalog-item__info {
  margin-bottom: 5px;
  font-size: 1.077rem;
  line-height: 1rem;
}

.catalog-item__bottom {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  border-bottom-left-radius: 6px;
  background: url("../images/cat.png") no-repeat;
  background-position: 50% 5%;
  background-size: auto;
}

.catalog-item__param {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  margin: 10px;
  font-size: 1.615rem;
  line-height: 1rem;
  text-align: center;
  color: var(--white);
  background-color: var(--blue);
  border-radius: 50%;
}

.catalog-item__block:hover .catalog-item__param {
  background-color: var(--pink);
  transition: background-color .2s;
}

.catalog-item__param-count {
  margin-bottom: 0;
}

.catalog-item__param-value {
  font-size: 3.23rem;
  line-height: initial;
}

.catalog-item__other .catalog-item__choose {
  display: inline;
  padding: 0;
  color: var(--blue);
  background: none;
  border: none;
  border-bottom: 1px dashed;
}

.catalog-item__other .catalog-item__choose:hover {
  border-bottom-color: transparent;
  cursor: pointer;
}

.catalog-item__other-text {
  font-size: 1rem;
  color: var(--white);
  text-align: center;
}

.catalog-item--disabled .catalog-item__card {
  background-color: var(--light-gray);
  color: var(--light-gray);
  cursor: default;
}

.catalog-item--disabled .catalog-item__block {
  filter: opacity(.5);
}

.catalog-item--disabled .catalog-item__title {
  color: var(--light-gray);
}

.catalog-item--disabled .catalog-item__block .catalog-item__param {
  background-color: var(--light-gray);
}

.catalog-item--disabled .catalog-item__other-text {
  color: var(--yellow);
}

@media screen and (max-width: 767px) {
  .catalog-list {
    grid-gap: 40px;
  }
}

@media screen and (max-width: 767px) {
  .catalog-list {
    grid-gap: 40px;
  }
}