@font-face {
    font-family: 'Exo';
    font-display: swap;
    font-style: normal;
    font-weight: 100;
    src: url(/Exo2.0-Thin.woff2) format('woff2'),
         url(/Exo2.0-Thin.woff) format('woff'); 
}