html {
    font-size: 13px;
    color: #fff;
}

body {
    font-family: "Trebuchet MS", sans-serif;
}
    
h2 {
    font-family: "Exo", sans-serif;
    font-size: 2.77rem;
    font-weight: initial;
    text-align: center;
}

p {
    margin-top: 0;
}