:root {
    --blue: #1698d9;
    --pink: #d91667;
    --yellow: #ffff66;
    --gray: #666666;
    --white: #ffffff;
    --black: #000000;
}

html {
    font-size: 13px;
    color: #fff;
}

body {
    font-family: "Trebuchet MS", sans-serif;
}
    
h2 {
    font-family: "Exo", sans-serif;
    font-size: 2.77rem;
    font-weight: initial;
    text-align: center;
}

p {
    margin-top: 0;
}

.text--bold {
    font-weight: bold;
}